# Getting to know the data

In [9]:
from statics import RAWDATA_PATH, DATA_PATH, GRAPHDATA_PATH, META_PATH
from glob import glob
import pandas as pd

### Metadata

In [20]:
df = pd.read_csv(f"{META_PATH}/playtypes.csv", comment="#")
df.head()

                  play_name play_type
0  alls-well-that-ends-well    comedy
1  a-midsummer-nights-dream    comedy
2      antony-and-cleopatra   tragedy
3            as-you-like-it    comedy
4                coriolanus   tragedy

In [22]:
play_names = list(df.play_name)
play_names

['alls-well-that-ends-well',
 'a-midsummer-nights-dream',
 'antony-and-cleopatra',
 'as-you-like-it',
 'coriolanus',
 'cymbeline',
 'hamlet',
 'henry-iv-part-1',
 'henry-iv-part-2',
 'henry-viii',
 'henry-vi-part-1',
 'henry-vi-part-2',
 'henry-vi-part-3',
 'henry-v',
 'julius-caesar',
 'king-john',
 'king-lear',
 'loves-labors-lost',
 'macbeth',
 'measure-for-measure',
 'much-ado-about-nothing',
 'othello',
 'pericles',
 'richard-iii',
 'richard-ii',
 'romeo-and-juliet',
 'the-comedy-of-errors',
 'the-merchant-of-venice',
 'the-merry-wives-of-windsor',
 'the-taming-of-the-shrew',
 'the-tempest',
 'the-two-gentlemen-of-verona',
 'the-winters-tale',
 'timon-of-athens',
 'titus-andronicus',
 'troilus-and-cressida',
 'twelfth-night']

In [19]:
df.groupby("play_type").count()

           play_name
play_type
comedy            17
history           10
tragedy           10